@charset "utf-8";
* {
  margin:0;
  padding:0;
  list-style-type: none;
}
.edit-target {
  display: flex;
}
body {
  max-width: 1000px;
  margin:0 auto;
}
header p  {
  font-size:1.3rem;
  padding: 0.5rem;
}
.post-area {
  width: 500px;
  margin:0px auto 35px;  
  padding: 0.8rem 0.8rem 0 0.8rem;
  box-sizing: border-box;
  background: darkgray;
}
.post-area p.desc {
  margin-bottom: 20px;
}
label, input {
  display: block;
  font-size: 0.88rem;
}
label {
  margin-top: 0.5rem;
}
.input-label-wrap {
  height: 63px;
}
header, #logout-form {
  width: 500px;
  margin:0 auto;
}
#logout-form button.logout-btn {
  background-color: transparent;
  color: blue;
  margin: 0;
  text-align: left;
  font-size: 0.88rem;
  width: 100%;
  border: 0px solid;
  cursor: pointer;
}
button {
  background-color: blue;
  color: white;
  margin:30px auto;
  width: 100px;
  height: 35px;
  border-radius: 0.37rem;
  cursor: pointer;
}
button > span {
  padding-left:1rem;
}
a.site-link {
  float:right;
  padding-right:1rem;
}
.item {
  width:500px;
  margin:0 auto 35px;
  display: flex;
}
ul.item-data {
  margin-left:0.8rem;
}
ul.item-data li {
  margin-bottom: 0.3rem;
}
ul.item-data li.date {
  font-size:0.88rem;
}
ul.item-data b {
  font-size:1.1rem;
}
ul.item-data li.status {
  color:white;
  width: 80px;
  text-align: center;
  border-radius: 0.28rem;
}
ul.item-data li.status.public {
  background-color:blue;
}
ul.item-data li.status.public::after {
  content:"公開中"
}
ul.item-data li.status.private {
  background-color:darkgray;

}
ul.item-data li.status.private::after {
  content:"非公開";
}
.statusLink.public::after {
  content:"非公開にする";
}
.statusLink.private::after {
  content:"公開する";
}
/* edit */
ul li.delete-edit-link {
  float: left;
}
ul li.status-link {
  float: right;
  margin-left: 1rem;
}
form.edit-form {
  margin-top: 50px;
  width: 500px;
  margin: 50px auto 0;
}
form.edit-form .d-flex {
  align-items: center;
}
form.edit-form .item-data {
  margin-top: 1rem;
}
form.edit-form .description {
  margin-top: 0.5rem;
  font-size: 0.88rem;
}
form.edit-form .btn-wrap {
  width:500px;
  text-align: center;
}
form.edit-form button {
  width: 200px;
  font-size: 1rem;
}
form.edit-form  ul.item-data b {
  font-size: 1rem;
}
form.edit-form .img-wrap p {
  font-size: 0.88rem;
}
form.edit-form ul.item-data li {
  margin-bottom: 0rem;
}
form.edit-form input[type="file"]{
  margin-top: 0.5rem;
}
.error {
  color: red;
  font-size: 0.88rem;
}
.upload-notice {
  font-size: 0.88rem;
}
/* edit complete */
#complete {
  text-align: center;
}
#complete div {
  margin-top:50px;
}
#complete p {
  margin-bottom:1rem;
  font-size:1.5rem;
}
@media screen and (max-width:414px) {
  .post-area {
    width: 100%;
    box-sizing: border-box;
  }
  header, #logout-form {
    width: 100%;
  }
  .item {
    width: 90%;
    display: block;
    padding-bottom: 30px;
  }
  .item:not(:last-child) {
    border-bottom: 1px solid;
  }
  .img-wrap {
    text-align: center;
  }
  ul.item-data {
    width: 220px;
    margin: 0 auto;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear:both;
  }
  /*edit*/
  body {
    max-width: 100%;
  }
  form.edit-form, form.edit-form .btn-wrap {
    width: 100%;
  }
  .edit-target {
    display: block;
  }
  
  .edit-target ul.item-data {
    width:80%;
  }
}